.bg-white {
  background-color: white !important;
  margin-left: 40px;
  margin-right: 40px;
}

.logout {
  background-color: #1d7874 !important;
  border-color: #1d7874 !important;
  color: white !important;
}

@media screen and (max-width: 650px) {
  .logo {
    margin-left: 55px;
  }
}
